body {
  font-family: Poppins, sans-serif;
  background: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* HEADER FIXO NO TOPO */
header {
  background-color: #111110;
  padding: 15px 40px;
  position: fixed;
  /* fixa o header no topo */
  top: 0;
  /* alinha no topo */
  left: 0;
  /* encosta na lateral esquerda */
  width: 100%;
  /* ocupa toda a largura */
  display: flex;
  justify-content: space-between;
  /* separa menu e ícones */
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  /* garante que fique acima do conteúdo */
}

/* MENU DE BOTÕES */
.botoes {
  display: flex;
  gap: 15px;
}

.botoes button {
  background-color: transparent;
  color: #fc6424;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botoes button:hover {
  background-color: #eba75a;
  color: #000000;
}

/* ÍCONES À DIREITA */
.redes {
  display: flex;
  gap: 15px;
}

.botao-imagem {
  width: 30px;
  margin-top: 15px;
  height: 30px;
  transition: transform 0.3s ease;
}

.botao-imagem:hover {
  transform: scale(1.1);
}

/* AJUSTE PARA NÃO FICAR ESCONDIDO PELO HEADER */
main {
  margin-top: 120px;
  /* afasta o conteúdo do topo */
}

/* FORMULÁRIO */
select,
input,
button {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

button {
  background: #ff6600;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #ff8533;
}

.resultado {
  margin-top: 20px;
  font-size: 18px;
}